.copyright {
    padding: 10px 20px;
    background-color: #333;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    border-top: 1px solid #e7e7e7;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.copyright p {
    margin: 0;
}
