.navbar {
    background-color: #333;
    color: #ea0c0c;
    padding: 10px 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #ea0c0c;
    font-size: 16px;
    margin-top: 5px;
  }
  /* Avatar styles */
.navbar__avatar {
  border: 2px solid #fff;
  margin-top: 10px;
  
}
  .navbar li a:hover {
    color: #ffd700; /* Change the color on hover as desired */
    transition: color 0.3s ease;
  }
  .navbar__input {
    background-color: #f2f2f2; /* Light gray background color */
    color: #333; /* Text color */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 8px 12px; /* Padding */
    font-size: 14px; /* Font size */
    outline: none; /* Remove outline */
    margin-right: 50px;
    margin-bottom: 15px;
}

.navbar__input::placeholder {
    color: #999; /* Placeholder text color */
}

  